<npa-message
  [avatar]="'./assets/img/eddard.png'"
  [sender]="'eddard'"
  [timestamp]="'00:00 AM'"
  [content]="'The man who passes the sentence should swing the sword.'">
</npa-message>

<npa-message
  [avatar]="'./assets/img/khaleesi.png'"
  [sender]="'khaleesi'"
  [timestamp]="'01:00 AM'"
  [content]="'The next time you raise a hand to me will be the last time you have hands!'">
</npa-message>

<npa-message
  [avatar]="'./assets/img/cersei.png'"
  [sender]="'cersei'"
  [timestamp]="'02:00 AM'"
  [content]="'When you play the game of thrones, you win or you die.'">
</npa-message>

<npa-message
  [avatar]="'./assets/img/tyrion.png'"
  [sender]="'tyrion'"
  [timestamp]="'03:00 AM'"
  [content]="'The mad king did as he liked, has your uncle Jaime ever told you what happened to him?'">
</npa-message>

<npa-message
  [avatar]="'./assets/img/jaqenhghar.png'"
  [sender]="'jaqenhghar'"
  [timestamp]="'04:00 AM'"
  [content]="'A girl gives a man his own name?'">
</npa-message>